body {
  background-color: #D0E8FF;
  font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: red;
  text-shadow: 2px 2px 2px orange;
  font-family: Verdana, sans-serif;
  text-decoration-line: underline;
  text-decoration-color: #8099FF;
  text-decoration-style: wavy;
}
h1 {
  text-align: center;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-container {
  border: 2px solid red;
  border-radius: 10px;
  background-color: rgba(200, 200, 255, 1);
  padding: 5px;
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.pet {
  border: 2px solid #8099FF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-width: 100px;
  padding: 2px;
  margin: 5px;
}
.pet p {
  align-self: center;
  margin: 5px;
}
.pet img {
  align-self: center;
}
.kaput {
  border: 2px solid #8099FF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-width: 100px;
  padding: 2px;
  margin: 5px;
}
.kaput p {
  align-self: center;
  margin: 5px;
}
.kaput img {
  align-self: center;
}
.no-pets {
  align-self: flex-start;
}

#new {
  display: inline-flex;
  height: 80px;
  width: 80px;
  background-color: rgba(255, 255, 240, .75);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.myFormContainer {
  display: none;
  flex-direction: column;
  align-items: center;
}
.myFormContainer form {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 0, .5);
  border-radius: 10px;
}
#createPet input[type=text] {
  width: 40%;
  max-width: 400px;
  padding: 2px;
  margin: 8px 4px 8px 8px;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 4px;
}
#createPet select {
  width: 20%;
  max-width: 200px;
  height: 25px;
  background-color: #CCF;
  padding: 2px;
  margin: 8px 4px;
  display: inline-block;
  border: 1px solid blue;
  border-radius: 4px;
}
#createPet button[type=submit] {
  width: 50%;
  max-width: 300px;
  height: 23px;
  background-color: #68A;
  color: white;
  padding: 2px;
  margin: 8px 8px 8px 4px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 2px black;
}


.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.grid-container {
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-gap: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: none;
}
.grid-item {
  border-radius: 10px;
  background-color: ivory;
  box-shadow: 0px 2px 2px;
}
.grid-item:active {
  box-shadow: 0px 0px 0px;
}
#sprite {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 2px solid green;
  border-radius: 5px;
  background-color: rgba(144, 238, 144, .25);
  display: flex;
  align-items: center;
  justify-content: center;
}
#status {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 2px dashed gray;
  border-radius: 5px;
  background-color: rgba(144, 238, 144, .25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.label {
  font-size: 10px;
}
.flex-container {
  height: 190px;
  width: 190px;
  display: none;
  flex-direction: column;
  justify-content: center;
  border: 2px solid blue;
  border-radius: 10px;
}
.flex-container p {
  font-size: 14px;
  font-family: Courier New, Verdana;
  margin: 2px;
  padding: 0px;
}
.flex-item {
  background-color: rgba(238, 144, 238, .25);
}
